appdirs==1.4.3
appnope==0.1.0
decorator==4.0.11
imageio==2.1.2
ipdb==0.10.3
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
moviepy==0.2.2.11
numpy==1.12.1
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
requests==2.11.1
requests-toolbelt==0.7.0
schedule==0.4.2
sh==1.12.13
simplegeneric==0.8.1
six==1.10.0
tqdm==4.11.2
traitlets==4.3.2
wcwidth==0.1.7
